# Dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build output
.next
out

# Prisma
prisma/migrations

# Logs
*.log

# Version control
.git
.github

# Environment files
.env*
.vercel

# Development artifacts
.DS_Store
*.pem
.vscode
.idea
coverage
build
*.tsbuildinfo
next-env.d.ts
src/generated/prisma
